# GENERAL
.idea/
__pycache__/
.vscode/
*.py~

# CONFIG FILES
.env
twitter_config.json

# AGENTS
agents/*.json
# Include example agent and general config
!agents/auto-example.json
!agents/legacy-example.json
!agents/example.json
!agents/general.json

# macOS
.DS_Store
.codegpt